<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            background-image: url("{{ choices['image'] }}")
        }
        p {
            color: {{font_color}};
        }
    </style>
    <title>Adventure!</title>
</head>
<body>
    <a href="/">Start Over</a>
    <p>{{ choices["story"] }}</p>
    <h3>You:</h3>
    {% for option in choices["options"] %} 
        <a href="/{{ option['route']}}">{{ option["content"]}}</a> 
    {% endfor %}
</body>
</html>