<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Action</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dev-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listy.css') }}">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>Sup Users</h1>
        <a href="/">Back</a>
    </nav>
    <div class="container">
        <div class="content">
            <h2>Post a Blog</h2>
            <form action="/blog" method="post">
                <div class="fm-group">
                    <label for="topic">topic</label>
                    <input type="text" id="topic" name="topic">
                </div>
                <div class="fm-group">
                    <label for="blog">Blog</label>
                    <textarea id="blog" name="blog"></textarea>
                </div>
                <button class="btn btn-ok">Post</button>
            </form>
        </div>
        
    </div>
</body>
</html>
