<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/dev-styles.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1>Heelo {{ user.username }} from templatez</h1>
        <a href="/user/{{ user.id }}">Visit your page!</a>
        {% for num in numbers %}
        <p>{{ num }}</p>
        {% endfor %}
    </div>
</body>
</html>