<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/dev-styles.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h3>Choose a starting Class:</h3>
        <select>
            {% for class in classes %}
            <option>{{ class.name }}</option >
            {% endfor %}
        </select>
        </div>
</body>
</html>