<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Players and Teams</title>
</head>
<body>
    <h2>Details for {{ player.first_name }}</h2>
    <h4>Name: {{ player.first_name }} {{ player.last_name }}</h4>
    <h4>Team: <a href="/teams/{{ player.team_id }}">{{ player.team.team_name }}</a></h4>
</body>
</html>